html,
body {
    height: 100%;
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #e6eef6;
    background: linear-gradient(180deg, #071026 0%, #071a2a 60%);
    -webkit-font-smoothing: antialiased
}